
body {
  /*padding-top: 54px;*/
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

.business-header {
  height: 60vh;
  min-height: 220px;
  width: 100%;
  background: url('desperate-2293377_1920.jpg') center center no-repeat scroll;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


@media (min-width: 992px) {
  body {
    /*padding-top: 56px;*/
    width: 100%;
  }
  business-header {
  height: 60vh;
  min-height: 220px;
  width: 100%;
  background: url('desperate-2293377_1920.jpg') center center no-repeat scroll;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
}

.card {
  height: 100%;
}

.business-header .container{
  min-height: 220px;
  padding-top: 66px;
  background: url(puzzle-piece-solid.svg) center no-repeat scroll;
  background-position: 53% 41%;
  background-size: 110px;
}

/*
.container{
  padding-top: 30px;
}

.btn{
  background: #2ecc71;
  outline: none;
  border: 1px #999 solid;
  transition: .3s; 
}

.btn:hover{
  background: #27ae60;
  border: 1px #999 solid; 
}*/

a, a:hover{
  color: #777;
}

.logo{
  min-height: 90px;
  padding-top: 10px;
  background: url(puzzle-piece-solid.svg) center no-repeat scroll;
  background-position: 22% 38%;
  background-size: 45px;
}

.video{
  position: relative;
  padding-bottom: 56.2%;
  background: #444;
}

.video iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}

.card{
  width: 100%;
}

footer{
  margin-top: 30px;
  border: #ddd 1px solid;
}


#loading{
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  height: 100%;
  width: 100%;
  z-index: 5;
  overflow: hidden;
}

#loading p{
  position: absolute;
  transform: translate(-50%,-50%);
  color: #ccc;
  left: 50%;
  top: 50%;
}